parameters:
    xidea_account.account.configuration.default.class: Xidea\Bundle\BaseBundle\Configuration
    xidea_account.account.factory.default.class: Xidea\Component\Base\Factory\ModelFactory
  
services:
    xidea_account.account.configuration.default:
        class: %xidea_account.account.configuration.default.class%
        arguments:
            - %xidea_account.account.code%
            - @xidea_account.template.configuration
        tags:
            - { name: xidea_base.configuration }
    xidea_account.account.factory.default:
        class: %xidea_account.account.factory.default.class%
        arguments:
            - %xidea_account.account.class%