Xidea\Bundle\AccountBundle\Model\AbstractAccount:
    type: mappedSuperclass
    repositoryClass: Xidea\Bundle\AccountBundle\Doctrine\ORM\Repository\AccountRepository
    id:
        id:
            type: integer
            generator: { strategy: AUTO }
    fields:
        name:
            type: string
            length: 255